# Dependencias y builds
node_modules/
dist/
build/
coverage/

# Variables de entorno
.env
.env.*

# Logs
logs/
*.log

# Archivos temporales y de sistema operativo
.DS_Store
Thumbs.db

# Cachés y salidas de herramientas
.cache/
.angular/cache/

# Específicos de subproyectos
angular-practice-U/node_modules/
NodeBackU/node_modules/
angular-practice-U/dist/
NodeBackU/dist/

# Otros
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# IDEs y editores
.vscode/
.idea/ 